/* commentaires */

:root {
    --header-color:rgb(186, 0, 0);
    --accent-color: ;
    --bg-color: ;
    --nav-but-bg: rgb(255, 255, 255);
    --nav-but-hover: rgba(186, 0, 0, 0.857);
    --nav-but-hover-fg: white;
    --nav-but-active: rgb(172, 172, 172);

}

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    background-color: white;
}

h1 {
    color:white;
    text-align:center;
    margin:0px;
    padding:30px 0px 0px 0px;
    font-weight:normal;
}

h2 {
    color:#000000;
    text-align:center;
    background-color:#AACCCC
}

.top_header {
    background-color: var(--header-color);
    padding: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* line-height: 24px */
    /* margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
}


#mainicon {
    /* position: absolute; */
    margin: auto;
}


ul.menu {
    list-style-type: none;
    padding: 10px;
    margin: 10px ;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

ul.menu li a {
    transition: background .10s ease-in-out;
    text-decoration: none;
    padding: .75em 1.25em;
    border-radius: 5px;
    display: block;
    color: black;
    margin: 0px 5px 0px 5px; /*H D B G*/
    background-color: var(--nav-but-bg);
}

ul.menu li a:hover {
    background-color: var(--nav-but-hover);
    color: var(--nav-but-hover-fg);

}

ul.menu li a:active {
    background-color: var(--nav-but-active)
}

.container {
    padding: .75em 1.25em;
    /* font-size: 16px; */
}

.log_b {
    transition: background .10s ease-in-out;
    padding: .75em 1.25em;
    border: none;
    background-color: var(--nav-but-bg);
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    font-family: inherit;
}

.log_b:hover {
    background-color: var(--nav-but-hover);
    color: var(--nav-but-hover-fg);
}

.log_b:active {background-color: var(--nav-but-active)}

.loremipsum {
    font-style:italic;
    text-align:left;
}

#prefere {
    color:rgb(255, 58, 58);
    /*background-color: rgb(165, 156, 156);*/
}

#maincontent {
    display: flex;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#tout {
    width: 1000px;
    margin: 0 auto;
}

section {
    width: 70%;
    background-color: white;
}

aside {
    width: 30%;
}

/* li:nth-child(2n) {background-color:#AACCCC} */

.classement {display:inline-block}

/* header {
    background-color:rgb(134, 184, 184);
    border:2px solid rgb(134, 184, 184); */

section, aside, footer {
    /* border: 4px solid #aaaaaa; */
    padding: 10px;
}

footer {
    background-color: #888888
}

body {
    font: inherit;
}

article {
    margin:20px;
    padding:10px;
    border:1px solid rgb(99, 194, 199);
    background-color:rgb(241, 241, 241);
}

a:link {color:red}
a:visited {color:blue}
a:hover {color:yellow}
a:active {color:lime; background-color:#ff0000}

@media screen and (max-width: 640px) {
    .loremipsum {
        background-color: #FFFFFF;
    }
    #coteacote {
        display: block;
    }
    section, aside {
        width: auto;
    }
    .menu {
        flex-flow: column;
    }
}
@media screen and (min-width: 641px) {
    .loremipsum {
        background-color: #CCCCCC
    }
    .menu {
        flex-flow: row;
    }
}

.topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }