/* commentaires */
html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Verdana;
    vertical-align: baseline;
}


h1 {
    color:white;
    text-align:center;
    margin:0px;
    padding:30px 0px 0px 0px;
    font-style: normal;
}

h2 {
    color:#000000;
    text-align:center;
    background-color:#AACCCC
}

.top_header {
    background-color: rgb(255, 124, 24);
    padding: 1px;
}

.container {
    padding: .75em 1.25em;
    font-size: 16px;
}

.log_b {
    transition: background .10s ease-in-out;
    padding: .75em 1.25em;
    border: none;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.log_b:hover { background-color: rgb(192, 223, 223)}

.log_b:active {
    background-color: rgb(136, 157, 157)
}

.loremipsum {
    font-style:italic;
    text-align:left;
}

#prefere {
    color:rgb(255, 58, 58);
    /*background-color: rgb(165, 156, 156);*/
}

#coteacote {
    display: flex;
}

#tout {
    width: 1000px;
    margin: 0 auto;
}

section {
    width: 70%;
    background-color: white;
}

aside {
    width: 30%;
    background-color: beige;
}

/* li:nth-child(2n) {background-color:#AACCCC} */

.classement {display:inline-block}

/* header {
    background-color:rgb(134, 184, 184);
    border:2px solid rgb(134, 184, 184); */

section, aside, footer {
    border: 4px solid #aaaaaa;
    padding: 10px;
}

footer {
    background-color: #888888
}

body {
    background-color: #666666;
    font: inherit;
}

article {
    margin:20px;
    padding:10px;
    border:1px solid rgb(99, 194, 199);
    background-color:rgb(241, 241, 241);
}

.navbar {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
}

ul.menu {
    list-style-type: none;
    padding: 10px;
    margin: 10px ;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

ul.menu li a {
    transition: background .10s ease-in-out;
    text-decoration: none;
    padding: .75em 1.25em;
    border-radius: 5px;
    display: block;
    color: black;
    background-color: #ffffff;
}

ul.menu li a:hover {
    background-color: rgb(226, 226, 226)
}

ul.menu li a:active {
    background-color: rgb(46, 226, 226)
}

a:link {color:red}
a:visited {color:blue}
a:hover {color:yellow}
a:active {color:lime; background-color:#ff0000}

@media screen and (max-width: 640px) {
    .loremipsum {
        background-color: #FFFFFF;
    }
    #coteacote {
        display: block;
    }
    section, aside {
        width: auto;
    }
    .menu {
        flex-flow: column;
    }
}
@media screen and (min-width: 641px) {
    .loremipsum {
        background-color: #CCCCCC
    }
    .menu {
        flex-flow: row;
    }
}