/* commentaires */

:root {
    --header-color:rgb(186, 0, 0);
    /*--accent-color: ;
    --bg-color: ;*/
    --nav-search-accent: rgba(194, 3, 3, 0.815);
    --nav-but-bg: rgb(255, 255, 255);
    --nav-but-hover: rgba(238, 238, 238, 0.857);
    --nav-but-hover-fg: rgb(0, 0, 0);
    --nav-but-active-bg: rgb(212, 212, 212);
    --nav-but-active-fg: rgb(0, 0, 0);
    --hover-but-shadow: rgb(82, 22, 22)

}

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    background-color: white;
}

header h1 {
    color:white;
    text-align:center;
    margin:0;
    padding:10px 0 0 0;
    font-weight:normal;

}

h2 {
    text-align:center;
    font-family: inherit;
}

.top_header {
    background-color: var(--header-color);
    padding: 1px;
    position: fixed;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.navbar {
    padding: 5px;
    
    /* line-height: 24px */
    /* margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
}


#mainicon {
    margin-left: auto;
    vertical-align:middle;
}


ul.menu {
    list-style-type: none;
    padding: 3px;
    margin: 10px ;
    /* box-shadow: 1px 1px 1px 1px 10px var(--hover-but-shadow); */
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

ul.menu li.menuitem a, .userbtn, .log_b {
    transition: background .10s ease-in-out;
    text-decoration: none;
    padding: .75em 1.25em;
    border-radius: 5px;
    display: block;
    color: black;
    margin: 0px 7px 0px 7px; /*H D B G*/
    background-color: var(--nav-but-bg);
}

ul.menu li.menuitem a:hover, .userbtn:hover, .log_b:hover {
    background-color: var(--nav-but-hover);
    color: var(--nav-but-hover-fg);
    /* box-shadow:  1px 1px 5px 1px rgba(47, 12, 12, 0.33), 0 6px 20px 0 rgba(0,0,0,0.19); */

}

ul.menu li.menuitem a:active, .userbtn:active, .log_b:active {
    background-color: var(--nav-but-active-bg);
    color: var(--nav-but-active-fg);
}

.container {
    padding: .75em 1.25em;
    /* font-size: 16px; */
}

.connexion {
    background-color: rgb(165, 3, 3);
    border-radius: 10px;
    margin: 5% auto;
    width: 25%;
    padding: 5px;
}

input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.loremipsum {
    font-style:italic;
    text-align:left;
}

#prefere {
    color:rgb(255, 58, 58);
    /*background-color: rgb(165, 156, 156);*/
}

#maincontent {
    display: flex;
    padding: 10px;

}

#tout {
    width: 1000px;
    margin: 0 auto;
}

section {
    width: 70%;
    background-color: white;
}

aside {
    width: 30%;
}

/* li:nth-child(2n) {background-color:#AACCCC} */

.classement {display:inline-block}

/* header {
    background-color:rgb(134, 184, 184);
    border:2px solid rgb(134, 184, 184); */

section, aside {
    /* border: 4px solid #aaaaaa; */
    padding: 10px;
}

footer {
    background-color: #888888;
    padding:2px
}

body {
    font: inherit;
}

article {
    margin:20px;
    padding:10px;
    border:1px solid rgb(99, 194, 199);
    background-color:rgb(241, 241, 241);
}

/* a:link {color:rgb(131, 98, 184)}
a:visited {color:blue}
a:hover {color:yellow}
a:active {color:lime; background-color:#ff0000} */

@media screen and (max-width: 640px) {
    .loremipsum {
        background-color: #FFFFFF;
    }
    #coteacote {
        display: block;
    }
    section, aside {
        width: auto;
    }
    .menu {
        flex-flow: column;
    }
}
@media screen and (min-width: 641px) {
    .loremipsum {
        background-color: #CCCCCC
    }
    .menu {
        flex-flow: row;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

input[type="search"] {
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: .75em 1.25em;
    margin: 0px 7px 0px 7px; /*H D B G*/
}

input[type="search"]:focus {
    border: 2px solid var(--header-color);
}
