/* commentaires */

:root {
    --header-color:rgb(186, 0, 0);
    --header-color-hover:rgb(145, 0, 0);
    --nav-search-accent: rgba(194, 3, 3, 0.815);
    --nav-bg: white;
    --nav-but-bg: transparent;
    --nav-but-hover: rgba(175, 0, 0);
    --nav-but-hover-fg: rgb(255, 255, 255);
    --nav-but-active-bg: rgb(160, 0, 0);
    --nav-but-active-fg: rgb(255, 255, 255);
    --hover-but-shadow: rgb(82, 22, 22);
    --card-bg: white;
    --main-bg: #e6e6e6;
    --main-bg-sec:#e6e6e6;
    --bg-accent: #c5c5c5d5;
    --card-border-radius : 4px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
} /*From https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 1em; 
    /* 0.985em; */
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    background-color: var(--main-bg);
}

header h1 {
    color:white;
    text-align:center;
    margin:0;
    font-weight:normal;
}

.storystoire_header {
    color:var(--header-color);
    text-align: center;
    margin:-1px;
    /* padding:0px 10px 0px 10px; */
    font-weight:300;
    background: white;
    padding:10px 30px;
    text-decoration: none;
}

#mainHeaderTitle {
    cursor: pointer;
}

h2 a {
    text-decoration:none;
    text-align:center;
    font-family: inherit;
    color: var(--header-color);
}

.top_header {
    background-color: var(--header-color);
    padding: 1px;
    position: fixed;
    overflow:visible;
    white-space: nowrap;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.336);
    z-index: 10000;
    display: inline-flex;
}

.top_header button#hamburger {
    padding:0px 20px 0px 20px;
    background-color: transparent;
    border:none;
    color: white;
    font-size:25px;
    cursor: pointer;
    display:none;
    width: 20px;
}

.topBar {
    background-color: transparent;
}
.navbar {
    padding: 0px;
    margin: 5px 0px 5px 20px;
}

#mainicon {
    margin: 1px 10px 0px 0px;
    vertical-align:middle;
}

ul.menu {
    list-style-type: none;
    padding: 3px;
    margin: 0px ;
    /* box-shadow: 1px 1px 1px 1px 10px var(--hover-but-shadow); */
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    background-color: inherit;
}

ul.menu li.menuitem a, ul.menu li.menuitem p, .userbtn, .log_b {
    transition: background .08s ease-in-out;
    text-decoration: none;
    padding: .75em 1.25em;
    border-radius: 5px;
    display: block;
    color: white;
    margin: 0px 7px 0px 7px; /*H D B G*/
    background-color: var(--nav-but-bg);
}

ul.menu li.bef{
    margin-top: -18px;
}

ul.menu li.bef::before {
    content: '';
    display: block;
    height: 18px;
    left: -1px;
    position: relative;
    top: 32px;
    width: 1px;
    background:rgba(255, 255, 255, 0.4);
}

ul.menu li.menuitem a:hover, .userbtn:hover, .log_b:hover {
    background-color: var(--nav-but-hover);
    color: var(--nav-but-hover-fg);
}

ul.menu li.menuitem form {
    margin-top:2px
}

ul.menu li.menuitem a:active, .userbtn:active, .log_b:active {
    background-color: var(--nav-but-active-bg);
    color: var(--nav-but-active-fg);
}

hr {
    color: red
}

input[type=email], input[type=password], 
input[type=text], textarea,
button[type=button].ajt_chps {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:vertical;
}

input[type=submit], button[type=read] {
    width: 100%;
    background-color: var(--header-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, button[type=read]:hover {
    background-color: var(--header-color-hover);
}

section {
    width:100%;
    overflow:hidden;
}

#home {
    margin-right:220px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor:pointer;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--header-color);
    color: white;
}

ul.spacedLi li, ol.spacedLi li {
    margin:10px 0px 0px 0px;
    font-size: 18px;
}

ul.spacedLi li p {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

ul.spacedLi li p.red {
    color: var(--header-color);
    font-weight: bold;
}

li.mystories a, ol.spacedLi li a {
    text-decoration: none;
    color: var(--header-color);
}

li.mystories a:hover, ol.spacedLi li a:hover {
    color: black;
    font-weight:bold;
}

.loremipsum {
    font-style:italic;
    text-align:left;
    background-color: var(--card-bg);
}


#maincontent {
    display: flex;
}

footer {
    font-size:12px;
    text-align:center;
    color: var(--bg-accent);
    margin-bottom:20px;
    margin-top:30px;
}

article {
    margin: 30px 200px 30px;
    width: auto;
}

code {
    background-color: beige;
    font-size: 1.2em;
}

article.card {
    border-radius: var(--card-border-radius);
    background-color: var(--card-bg);
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.24);
}

article.card div {
    background-color: var(--card-bg);
    text-align: justify;
    padding:0px 20px 10px 20px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#top10_card {
    display:none;
}

hr.choice {
    margin:10px 0px 10px 0px ;
    color: rgb(232, 232, 232);
}

div.choix {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: transparent;
}

.inner:not(img) {
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

input.inner {
    width: 80%
}

img.inner {
    border: 0px;
    padding: 0px 0px 0px 10px;
    margin-bottom: -10px;
}

button.inner:hover, button[type=button].ajt_chps:hover {
    background-color: rgba(128, 128, 128, 0.733);
}

button.inner:active {
    background-color: rgba(128, 128, 128, 0.514);
}

textarea#step_area {
    margin: 0px;
    border: 0px;
}

button[type=button]:hover {
    background-color: var(--nav-but-hover);
}

input[name=end] {
    border:1px;
    position: relative;
    color: rgb(116, 116, 116);
    text-decoration: var(--header-color);
    background-color: transparent;
    padding:0px 10px 2px 10px;
    right:0;
    margin-top:0px;
    text-align: right;
    text-decoration: underline;
}

input[name=end]:hover {
    background-color: transparent;
    text-decoration: underline;
    color: var(--nav-but-hover);
}

a.pwdch {
    /* text-decoration:none; */
    color: var(--header-color); 
    font-weight: bold;  
}

a.pwdch:hover {
    color: black
}

a.pwdch:active {
    color: var(--bg-accent)
}

section article div form p {
    margin-bottom:0px;
}

article.card div h2 {
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
}

div.search {
    position:fixed;
    width: 240px;
    height: 75px;
    left: 25px;
    top: 100px;
    background-color: transparent;
    z-index:0;
    border-radius: 5px;
}

div.search div{
    background-color: var(--header-color);
    width: auto;
    height:inherit;
    padding:0px;
    padding-left:10px;
    color:var(--main-bg);
    border-radius: inherit;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    z-index:0;
}

.searchStoryElemt {
    display:block;
    width:100%;
    box-sizing:border-box;
    border:none;
    margin:0px;
    /* padding-bottom:5px;  */
    padding-top:5px 0px 5px 0px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

section#home article img {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

aside {
    width: 290px;
    height: auto;
    position: fixed;
    top: 70px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    margin: 30px 50px 30px 0px;
    padding:2px 12px 0px 12px;
    background-color: rgba(255, 255, 255, 0.767);
    /* border: 1px solid var(--header-color); */
    border-radius: var(--card-border-radius);
}

aside.searchAttr {
    width: 214px;
    height:auto;
    position: fixed;
    top: 170px;
    left: 25px;
    bottom: 0px;
    overflow: auto;
    /* margin: 30px 20px 30px 0px; */
    padding:2px 12px 0px 12px;
    /* display:none; */
}

aside.top10 h2 {
    font-size: 19px;
    color:var(--header-color);
    text-align: center;
}

aside.top10 ol {
    font-size: 12px;
    margin:0px 0px 0px -10px;
}

aside.top10 li a {
    font-size: 1em;
    text-align: left;
}

aside.storyParam {
    width: 100px;
    top:100px;
    margin: 0px;
    right:120px;
    height:auto;
    padding-bottom: 15px;
    background-color: white;
}

aside.storyParam div {
    display:inline-block;
    margin:0px;
    padding:0px;
    width:auto;
    background-color:transparent;
    text-align:center;
}

aside.storyParam hr{
    margin:20px 0px 20px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: var(--nav-but-bg);
    z-index: 1100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2000;
}

.dropdown-content a:hover {
    background-color: var(--nav-but-hover);
    color:white;
}

.dropdown:hover .dropdown-content {display: block;}

input[type="search"] {
    border: 0px;
    border-radius: 5px;
    padding: .75em 1.25em;
    margin: 1px 7px 0px 7px; /*H D B G*/
}

.sideBar {
    display:none;
    position:fixed;
    overflow: hidden;
    width: 0px;
    height:100%;
    top:59px;
    background-color:rgb(247, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.111) 0px 1px 10px 5px;
    transition: 0.15s;
}
.sideBar .navbar, .sideBar div {
    margin: 0px;
    padding:0px;
    display:flex;
    flex-flow: column;
}
.sideBar .navbar {
    margin-top:10px;
}
.sideBar div {
    padding-left:20px;
    background-color: transparent;
}
.sideBar .navbar a,
.sideBar .navbar p {
    color: var(--header-color);
    margin:0px;
    padding:10px 0px 10px 20px;
    border-radius:0px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(247, 247, 247);
    display:block;
    white-space: nowrap;
}
.sideBar .navbar a:hover,
.sideBar .navbar p:hover {
    background-color: var(--main-bg);
    
}
.sideBar .navbar a:active,
.sideBar .navbar p:active {
    background-color: var(--bg-accent);
}
.sideBar .navbar form, .sideBar #mainicon,
.sideBar .navbar .bef::before {
    display:none;
}
div.accountLinks {
    background-color: var(--header-color);
    margin-top: 5px;
    margin-left: 27px;
    padding-left:1px
}

a#logoutSideBar {
    margin: 0px 3px;
    border: 1px solid var(--header-color);
}

div#layer {
    display:none; 
    position:fixed; 
    top:0px; bottom:0px; 
    left:0px; 
    right:0px; 
    width:100%; 
    height:100%; 
    z-index:0; 
    background-color:rgba(0, 0, 0, 0.097);
}

p.alert {
    color: var(--header-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {display:none;}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--header-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--header-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_bottom */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

@media screen and (max-width: 1160px) {
    #home {
        margin-right: 0px;
    }
    aside {
        display: none;
    }
    #top10_card {
        display: block;
    }
    section article.card {
        margin: 30px 16px 0px 16px;
    }
    .topBar {
        display: none;
    }
    .storystoire_header {
        color:white;
        background: var(--header-color);
        margin:0px 10px 0px;
        padding: 10px 0px;
    }
    .top_header button#hamburger {
        display: block;
        margin:0px;
        padding:0px 45px 0px 20px; 
    }
    .sideBar {
        display:block;
    }
}

@media screen and (max-width: 900px) {
    body {
        min-width: auto;
    }
    section article.card {
        margin: 30px 16px 0px 16px;
    }
    #home {
        margin-right:0px
    }
    aside {
        display: none
    }
    #top10_card {
        display: block;
    }
}
@media screen and (max-width: 1279px) {
    article {
        margin: 30px 100px 30px;
    }
    aside {
        width: 240px;
        margin: 30px 25px 30px 0px;
    }
    aside.storyParam{
        right:18px;
    }
}