ul{
    list-style-type: none;
}

#btn_ajout_champs{
    background-color:rgb(255, 174, 0);
    text-align: center;
    width:15px;
    border-radius:5px;
    border-style:solid;
    border-color:green;
    cursor: pointer;
}