:root {
    --header-color:rgb(186, 0, 0);
    --opposit-color: white; 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
} /*From https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    background-color: white;
}

header h1 {
    color:var(--opposit-color);
    text-align:center;
    position: relative;
    margin: 0px;
    padding:15px 0 15px 0;
    font-weight:normal;
}

.top_header {
    background-color: var(--header-color);
    padding: 1px;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.connexion {
    background-color: var(--header-color);
    border-radius: 10px;
    margin: 5% auto;
    width: 25%;
    padding: 5px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(186, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(143, 1, 1);
}

div form {
    margin: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

form h1 {
    margin:0;
    color: var(--header-color);
    margin-bottom: 10px;
}

.s_header_btn {
    border-radius: 5px;
    border: white 1px solid;
    color: var(--header-color);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    padding: 6px 14px;
    z-index:10;
}

#user {right: 16px; Top:16px;}

#home {left: 16px; Top:16px;}

.s_header_btn:hover {
    background-color: var(--header-color);
    color: white;
}

.s_header_btn:active {
    background-color: var(--header-color);
    color: white;
}

.dropdown {
    display: inline-block;
    background-color: var(--nav-but-bg);
    z-index:20;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: active;
    z-index: 20;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10;
}

.dropdown-content a:hover {background-color: var(--nav-but-hover)}

.dropdown:hover .dropdown-content {display: block;}
