:root {
    --header-color:rgb(186, 0, 0);
    --opposit-color: white; 
    --header-btn-pos : 19px;
    --nav-but-hover: rgba(168, 168, 168, 0.857);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
} /*From https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    background-color: white;
}

/* footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
} */

header h1 {
    color:var(--opposit-color);
    text-align:center;
    position: relative;
    margin: 0px;
    padding:15px 0 15px 0;
    font-weight:normal;
}

.top_header {
    background-color: var(--header-color);
    padding: 1px;
    position: fixed;
    overflow: visible;
    top: 0;
    width: 100%;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.connexion {
    background-color: var(--header-color);
    border-radius: 10px;
    margin: 5% auto;
    width: 25%;
    padding: 5px;
}

input[type=text], button[type=button], input[type=password], input[type=email], textarea[type=comment] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:vertical;
}

button[type=button] {
    background-color: white;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(186, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[name=end] {
    border:1px;
    color: black;
    text-decoration: var(--header-color);
    background-color: transparent;
    padding:0px 10px 2px 10px;
    text-align: left;
    width:auto;
    margin-top:0px;
}

.btn_champs {
    width:100%;
    text-align: left;
    background-color: transparent;
}

.inner {
    background-color: inherit;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: rgb(143, 1, 1);
}

button[type=button]:hover {
    background-color: var(--nav-but-hover);
}

input[name=end]:hover {
    background-color: transparent;
    text-decoration: underline;
    color: var(--nav-but-hover);

}

div form, div.confirm div, div.confirm form {
    margin: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

form h1, div.confirm form h1 {
    margin:0;
    color: var(--header-color);
    margin-bottom: 10px;
}

.s_header_btn {
    border-radius: 5px;
    color: var(--header-color);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 6px 14px;
    z-index:10;
    border: white 1px solid;
}

#user {
    right: var(--header-btn-pos);
    Top:var(--header-btn-pos);
    position: absolute;
    padding: 6px ;
}

#home {
    left: var(--header-btn-pos);
    Top: var(--header-btn-pos);
    position: absolute;
    padding: 6px 14px;
}

.s_header_btn:hover {
    background-color: var(--header-color);
    border: white 1px solid;
    color: white;
}

.s_header_btn:active {
    background-color: var(--header-color);
    color: white;
}

.dropdown {
    display: inline-block;
    background-color: var(--nav-but-bg);
    z-index:20;
    
}

.dropdown-content {
    display: none;
    position: relative;
    top: 5px; 
    /* right:100px; */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10;
}

.dropdown-content a:hover {background-color: var(--nav-but-hover)}

.dropdown:hover .dropdown-content {display: block;}

#choix{
    list-style-type: none;
}