ul{
    list-style-type: none;
}

#btn_supp_champs, #btn_ajout_champs{
    text-align: center;
    color: #eeeeee;
    font-size: 1em;
    border-radius:3px;
    border-style:solid;
    cursor: pointer;
}

#btn_ajout_champs{
    background-color: #1fc500;
    border-color:#1fc500;
}

#btn_supp_champs{
    background-color: red;
    border-color:red;
}

